html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* background: linear-gradient(-200deg, #ffffff, #e4e4e4, #ffc700, #04b304); */
  color: #1b1b1b;
}

/* header {
  padding: 5rem 0 0 0;
  text-align: center;
} */

.sFiles {
  font-style: italic;
  color: #f1f1f1;
  text-align: center;
  padding: 5rem 0 3rem 0;
  background: linear-gradient(180deg, rgb(0, 66, 128), #d643d6, #d643d6);
}

h1 {
  width: 400px;
  margin: auto;
  padding: 0.7rem;
  font-size: 5rem;
  border: 2px solid #f1f1f1;
  border-radius: 10px;
}

p {
  padding: 0.9rem;
  line-height: 1.7;
  font-size: 1.125rem;
  font-weight: 700;
  text-align: center;
}

li {
  list-style: none;
  margin: 40px;
}

.aDown,
.aSource {
  margin: 10px;
  border: 2px solid #012d46;
  color: #000000;
  border-radius: 30px;
  padding: 0.8rem;
  font-size: 1.11rem;
  font-weight: 600;
  letter-spacing: 0.13rem;
  text-decoration: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.aDown:active {
  background: #012d46;
  color: #ececec;
}

.aSource {
  background: #000000;
  color: #ececec;
  border: none;
}

h2 {
  text-align: center;
  font-size: 3rem;
}

.contentCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div {
  margin: 45px;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  border: 2px solid #eeeeee;
  /* background: hsl(202, 97%, 14%); */
}

footer {
  padding: 2rem;
  text-align: center;
  background: #012d46;
  color: #f1f1f1;
}

.aMyWeb {
  color: #ffc700;
}

@media only screen and (max-width: 425px) {
  h1 {
    width: 200px;
    font-size: 3rem;
  }

  .aDown,
  .aSource {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
}

@media only screen and (max-width: 375px) {
  h1 {
    width: 180px;
    font-size: 2.5rem;
  }

  .aDown,
  .aSource {
    margin: 0;
    letter-spacing: 0;
  }
}
